{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
  <title>Мира</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'boots_social/bootstrap-social.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
    <script type="text/javascript" src="../../static/script/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/mira.css' %}">
</head>
<body>
    <div class="page-header head">
    <div class="container">
        <img src="{% static 'img/logo.jpg' %}" alt="logo" class="img-responsive col-xs-1 logo">
        <div class="row"> 
            <div class="col-xs-2 text-center head_button"><a href="/">Главная</a></div>
            <div class="col-xs-2 text-center head_button"><a href="/">О нас</a></div>
            <div class="col-xs-2 text-center head_button"><a href="/">Блог</a></div>
            <div class="col-xs-2 text-center head_button"><a href="/">Контакты</a></div>
            <div class="col-xs-1 text-center head_button"><a href="/">ru/en</a></div>
            {% if user.is_authenticated %}
            <a href="{% url 'verifi_list' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <p class="top-menu">Hello, {{ user.username }}</p>
            <p><small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
            <a href="{% url 'register' %}" class="top-menu">Регистрация</a>

            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
        </div>
        </div>
    </div>
    <div>
            {% block content %}
            {% endblock %}
    </div>
    </body>
</html>