{% extends "pages/base.html" %}
{% load bootstrap %}
{% load socialaccount %}
{% block content %}
    {% if form.errors %}
        <p>Имя пользователя или пароль введены неверно.</p>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
       <div class="container"> 
           <div class="col-xs-6 col-xs-offset-3">
           {{ form|bootstrap }} 
        <input class="btn btn-default" type="submit" value="Войти" />
        <input type="hidden" name="next" value="{{ next }}" />
          <a class="btn btn-social-icon btn-sm btn-vk" href="{% provider_login_url "vk" method="oauth2" %}">
              <span class="fa fa-vk"></span></a>
               </div>
           </div>
    </form>
{% endblock %}